#jumbo {
    margin-top:0px;
    padding-top:60px;
    background-image: url('../../assets/img/city.jpg');
    background-size: cover;
    padding:0px;
}

#jumbo-text-background {
    padding: 10px;
    background-color:black;
    opacity: 1.0;
    align: center;
}

#jumbo-text {
    color:white;
    opacity: 0.8;
}

#filter {
    padding:300px 0px 300px 0px;
    background-color:black;
    opacity:0;
}
